{% extends "dictionary/layout.html" %}

{% block content %}
      <div class="panel panel-default">
        <form name='locationsearch' id='locationsearch' action="" method='get' onsubmit="return do_search('#id_submit_button', 'location', 'simple');" >
            <!-- EK: A sort-order specification is in a hidden form field, which is filled by JS:do_sort_column() -->
            <div class="hidden">
                <input name='sortOrder' class='form-control' value='stad' >
                <input name='search_type' class='form-control' value='stad'>
                <input id="submit_type" name='submit_type' class='form-control' value='simple'>
            </div>

            <!-- The top layer of searching -->
            <div class="row"><table><tr><td>&nbsp;</td></tr></table></div>


            <div id="searchdefault" class="row">
              <div class="col-sm-3">
                <label>&nbsp;</label>
                <div class='input-group'>
                    <label class='input-group-addon' 
                           data-toggle="popover" data-trigger="hover"
                           data-placement="right" data-content="Willekeurige tekens: ? (één) * (0 of meer). Groep tekens: [m-n]"
                           for='id_entry'>{{searchform.search.label}}</label>
                    <input name='search' class='form-control' {% if searchform.search.value %}value='{{searchform.search.value}}'{% endif %}>
                </div>
              </div>
              <div class="col-sm-3">
                <label>&nbsp;</label>
                <div class='input-group'>
                    <label class='input-group-addon' 
                           data-toggle="popover" data-trigger="hover"
                           data-placement="right" data-content="Willekeurige tekens: ? (één) * (0 of meer). Groep tekens: [m-n]"
                           for='id_woord'>{{searchform.nieuw.label}}</label>
                    <input name='nieuw' class='form-control' {% if searchform.nieuw.value %}value='{{searchform.nieuw.value}}'{% endif %}>
                </div>
              </div>
              <div class="col-sm-3">
                <div><label>&nbsp;</label></div>
                <div class='btn-group'>
                    <!-- Make sure no button has the *name* 'submit', otherwise submit() cannot be used -->
                    <input class='btn btn-primary' type="submit" onclick="do_search(this, 'location', 'simple');" value="Zoek">
                    <input class='btn btn-default' type="submit" onclick="do_search(this, 'location', 'Herstel');" value="Herstel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false">Download <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#" onclick="do_search(this, 'location', 'Csv');" >Tab gescheiden lijst</a></li>
                      <li><a href="#" onclick="do_search(this, 'location', 'Excel');" >Excel</a></li>
                      <li><a href="#" onclick="do_search(this, 'location', 'Html');" >Html</a></li>
                    </ul>
                </div>
              </div>
              <div class="col-sm-2">
                <div class='form-group' id='paginate_by'>
                  <label for='paginate_by'>Per pagina</label>
                  <select class='form-control' name="paginate_by">
                    {% for pag in paginateValues %}
                    <option {% if pag == paginateSize %} selected {% endif %}>{{pag}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

        </form>
      </div>

    {% if object_list %}
      <h3>Woorden per plaats</h3>
      <div class="row">
          <div class="col-sm-4"><span>Gevonden: </span><span>{{entrycount}}</span></div>
          <div class="col-sm-8"><span class="step-links">{% include 'dictionary/pagination.html' %}</span></div>
      </div>
      <table class="table table-hover">
        <thead><tr><th class="hidden">id</th><th>Plaats</th><th>Begrip: trefwoord (dialectopgave)</th><th>Boek(en)</th></tr></thead>
        <tbody>
        {% if strict == 'True' %}
          {% for item in qlist %}
            {% if item.dialect_stad.first %}
              <tr class="dict-entry">
                <td class="hidden"> {{ item.entry.dialect.id }}</td>
                <td><span class="dialect-stad">{{item.entry.dialect.stad}}</span></td>
                <td>
            {% endif %}
              {% if item.lemma_gloss.first %}
                <!-- Start lemma -->
                <span class="lemma-name"><a href="{% url 'lemmasearch' %}?search={{item.entry.lemma.gloss|urlencode}}">{{item.entry.lemma.gloss}}</a>:</span>
              {% endif %}
              {% spaceless %}
              {% if item.trefwoord_woord.first or item.lemma_gloss.first %}
                <!-- Start trefwoord -->
                <span class="trefwoord-name"><a href="{% url 'trefwoordsearch' %}?search={{item.entry.trefwoord.woord|urlencode}}">{{item.entry.trefwoord.woord}}</a></span>
                <span>&nbsp;(</span>
              {% endif %}
              <!-- Output dialectopgave -->
              <span class="trefwoord-woord">{{item.entry.dialectopgave}}</span>
              <!-- Add word-specific toelichting -->
              {% if item.entry.toelichting != "" %}<span class="trefwoord-word-toelichting"> {{item.entry.toelichting}}</span>{% endif %}
              <!-- Possibly add a list of mines -->
              {% if item.entry.mijnlijst.count > 0 %}
                <span class="word-mijn">{% if  item.entry.dialect.nieuw != "Q000"  %}&nbsp;{% endif %}[</span>
                {% for mijn in item.entry.mijnlijst.all %}
                  <span class="word-mijn">{{mijn.naam}}</span>
                  <span class="word-mijn-letop">{% if not forloop.last %}, {% endif %}</span>
                {% endfor %}
                <span class="word-mijn">]</span>
              {% endif %}             
              {% if item.trefwoord_woord.last or item.lemma_gloss.last %}<!-- Finish trefwoord --><span>)</span>{% else %}<!-- Non-final dialectopgave {{forloop.counter0}}--><span>,&nbsp;</span>{% endif %}
              {% endspaceless %}
              <!-- -->
            {% if item.dialect_stad.last %}
                <!-- Finish stad -->
                </td>
                <!-- Treat the afleveringen for each city -->
                <td>
                {% spaceless %}
                {% for item_afl in item.alist %}
                  {% if item_afl.afl.first %}
                    <span class="lemma-aflevering"><a href="/{{app_prefix}}static/dictionary/content/pdf/{{item_afl.entry.aflevering.get_pdf}}">{{item_afl.entry.aflevering.get_summary}}</a></span>
                  {% endif %}
                  {% if item_afl.afl.last and not item_afl.stad.last %}<span>, </span>{% endif %}
                {% endfor %}
                {% endspaceless %}
                </td>
              <!-- Finish this row -->
              </tr>
            {% endif %}
          {% endfor %}
        {% else %}
          {% for dialect in object_list %}
            <tr class="dict-entry">
              <td class="hidden"> {{ dialect.id }}</td>
              <td>
                <span class="dialect-stad">{{dialect.stad}}</span>
              </td>
              <td>
                <span class="lemma-word-dialect-code">{{dialect.nieuw}} - </span>
                <!-- See: https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs#regroup -->
                <!-- Take all the [entry] elements for this dialect and divide them over their [lemma] -->
                {% regroup dialect.dialect_entries.all|dictsort:"get_lemma_gloss" by lemma as lemma_list %}
                {% for lem in lemma_list %}
                  <span class="lemma-name"><a href="{% url 'lemmasearch' %}?search={{lem.grouper|urlencode}}">{{lem.grouper}}</a>:</span>
                  <!-- Take all the [trefwoord] elements available per [lemma] -->
                  {% regroup lem.list|dictsort:"get_lemma_gloss" by trefwoord as tw_list %}
                  {% for tw in tw_list %}
                    <span class="trefwoord-name"><a href="{% url 'trefwoordsearch' %}?search={{tw.grouper|urlencode}}">{{tw.grouper}}</a></span>
                    <!-- Take all the [trefwoord] elements, sort them alphabetically on [lemma.gloss-entry.woord] into [word_list] -->
                    {% regroup tw.list|dictsort:"get_trefwoord_woord" by dialectopgave as word_list %}
                    {% spaceless %}
                    <span>(</span>
                    {% for wrd in word_list %}
                      <span class="trefwoord-woord">{{wrd.grouper}}</span>
                      {% for entry in wrd.list %}
                        {% if entry.toelichting != "" %}<span class="trefwoord-word-toelichting"> {{entry.toelichting}}</span>{% endif %}
                        {% if entry.mijnlijst.count > 0 %}
                          <span class="word-mijn">{% if  entry.dialect.nieuw != "Q000"  %}&nbsp;{% endif %}[</span>
                          {% for mijn in entry.mijnlijst.all %}
                            <span class="word-mijn">{{mijn.naam}}</span>
                            <span class="word-mijn-letop">{% if not forloop.last %}, {% endif %}</span>
                          {% endfor %}
                          <span class="word-mijn">]</span>
                          <span>{% if not forloop.last %}, {% endif %}</span>
                        {% endif %}
                      {% endfor %}
                      <span>{% if not forloop.last %}, {% endif %}</span>
                    {% endfor %}
                    <span>){% if not forloop.last %}, {% endif %}</span>
                    {% endspaceless %}
                  {% endfor %}

                {% endfor %}
              </td>
              <td>
                {% regroup dialect.dialect_entries.all|dictsort:"get_aflevering" by aflevering as afl_list  %}
                {% spaceless %}
                {% for afl in afl_list %}
                  <span class="lemma-aflevering"><a href="/{{app_prefix}}static/dictionary/content/pdf/{{afl.grouper.get_pdf}}">{{afl.grouper.get_summary}}</a></span>
                  <span>{% if not forloop.last %}, {% endif %}</span>
                {% endfor %}
                {% endspaceless %}
              </td>
            </tr>
          {% endfor %}
        {% endif %}
        </tbody>
      </table>
    {% else %}
      <p>Er is geen informatie over plaatsen beschikbaar.</p>
    {% endif %}

      <div class="pagination"><span class="step-links">{% include 'dictionary/pagination.html' %}</span></div>


{% endblock content %}

